* {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
}

body {
    height: 100vw;
    position: relative;
}

header {
    background-color: #074973;
    padding: 30px 20px;
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
}

.nav {
    color: white;
}

#nav-left {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    
}

#nav-right {
    font-size: 18px;
    float: right;
    padding: 12px;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #F2D57E;
}

.header {

}

.header-img {
    display: block;
    width: 100%;
    height: 250px;
    border: none;
    margin: 0px;

}

main {
    position: absolute;
}

section {
    display: flex;
    flex-direction: row;
    position: relative;
}

.about-me {
    border: 1px solid white;
    padding: 5px;
}

.work {
    border: 1px solid white;
    padding: 5px;
    margin: 20px 1px;
    margin-top: 30px

}

.main {
    border: 1px solid white;
    padding: 3px;
    margin: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
}

p {
    width: 75%;
    color: #666666;
    line-height: 1.6;
}

img {
    border: 2px solid #ffffff;
    object-fit: cover;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    width: 20%;
    border-right: 3px solid #E3E3E3;
    margin-right: 21px;
    text-align: right;
    padding-right: 30px;
    padding-top: 13px;
    color: #074973;
}

.flex-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    
}


/* .cards { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
} */


/* .card-image {
    position: relative;
    margin: 13px 5px;
    width: calc(50% - 20px);
    cursor: pointer;
    border: 5px solid white;
    height: 200px;
    min-width: 0;
    object-fit: cover;
} */

.card-image:hover {
    opacity: 80%;
}

.full-width-card {
    /* width: 100%;
    height: 500px; */
    background-image: url("https://images.pexels.com/photos/6946028/pexels-photo-6946028.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    width: 100%;
    height: 500px;
}

.mood {
    background-image: url("https://images.pexels.com/photos/6960358/pexels-photo-6960358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 48%;
    height: 200px;
}

.prada {
    background-image: url("https://images.pexels.com/photos/7031002/pexels-photo-7031002.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    width: 48%;
    height: 200px;
}

.paint {
    background-image: url("https://images.pexels.com/photos/933967/pexels-photo-933967.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    width: 48%;
    height: 200px;
}

.building {
    background-image: url("https://images.pexels.com/photos/6960353/pexels-photo-6960353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 45%;
    height: 200px;
}

/* .full-width-card #tag-1 {
    position: absolute;
    top: 46%;
    bottom: 50%;
    left: 26%;
    padding: 6px 12px;
    /* padding-top: 23px; */
    margin-left: -5px;
    /* border-top: 2px solid teal; */
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    /* border-bottom: 2px solid teal;
    border-right: 2px solid teal; */
    margin-right: 3px;
    max-width: 15%;
    background: #F2D57E;
    color: #333333;
} */

/* .card-image:first-child {
    width: 100%;
    height: 550px;
} */

/* #tag-1 {
    position: absolute;
    top: 46%;
    bottom: 50%;
    left: 26%;
    padding: 6px 12px;
    /* padding-top: 23px; */
    margin-left: -5px;
    /* border-top: 2px solid teal; */
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    /* border-bottom: 2px solid teal;
    border-right: 2px solid teal; */
    margin-right: 3px;
    max-width: 15%;
    background: #F2D57E;
    color: #333333;
} */

.tag-left {
    position: absolute;
    /* bottom: 36%;
    left: 28%; */
    padding: 6px 12px;
    /* padding-top: 19px; */
    margin-left: -5px;
    /* border-top: 2px solid teal; */
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    /* border-bottom: 2px solid teal;
    border-right: 2px solid teal; */
    margin-right: 3px;
    max-width: 140px;
    background:#F2D57E;
    color: #333333;
}

.tag-right {
    position: absolute;
    /* bottom: 36%; */
    left: 63%;
    /* top: 58%; */
    padding: 6px 12px;
    /* padding-top: 19px; */
    margin-left: -2px;
    /* border-top: 2px solid teal; */
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    /* border-bottom: 2px solid teal;
    border-right: 2px solid teal; */
    margin-right: 3px;
    max-width: 140px;
    background: #F2D57E;
    color: #333333;
}

#tag-2 {
    /* position: absolute; */
    top: 70%;
    bottom: 26%;
    left: 26%;
}

#tag-3 {
    /* position: absolute; */
    top: 70%;
    bottom: 26%;
}

#tag-4 {
    /* position: absolute; */
    top: 93%;
    bottom: 3%;
    left: 26%;
}

#tag-5 {
    position: absolute;
    top: 93%;
    bottom: 3%;
}

.tags {
    text-align: left;
}

#top-img:hover {
    opacity: 80%;
}

#img-tag {
    position: absolute;
    top: 50%;
    left: 25.7%;
    background-color: white;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid teal;
    border-right: 2px solid teal;
    border-bottom: 2px solid teal;
}

footer {
    background-color: white;
    padding: 30px 0px;
    position: relative;
    bottom: 0px;
    left: 0px;
    margin: 5px;
    border: 1px solid white;
}

.bottom-nav-link {
    text-align: center;
    font-size: 20px;
    margin: auto;
}

#nav-bottom-right {
    padding: 2px 40px;
    color: #074973;
}

/* #nav-bottom-right {
    font-size: 14px;
    float: right;
    padding: 12px;
} */

/* @media and (max-width: 768px) {
    .body {
        flex: 0 0 50%;
        max-width: 50%
    }
} */